@import "tailwindcss";
@import 'tailwind-animations';

:root {
  --color-primary: #fdc63f;
  --button-hover: #FFE190;
  --bg-header: #777777/20;
  --bg-map:#EEEEEE;
  --bridge-color: #D9D9D9;
  --bg-color: #F7F7F7;
  --bgsection-primary: #EBEBEB;
  --bgsection-secundary: #CFCFCF;
}

@layer utilities {
  .hero-overlay {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
